
Binaries/
Intermediate/
Intermediate/AssetRegistryCache/142f06ae.bin
Intermediate/AssetRegistryCache/1cd9b6b1.bin
Intermediate/AssetRegistryCache/1e449417.bin
Intermediate/AssetRegistryCache/5ba39d6c.bin
Intermediate/AssetRegistryCache/629f845f.bin
Intermediate/AssetRegistryCache/76dc4230.bin
Intermediate/AssetRegistryCache/8d22b410.bin
Intermediate/AssetRegistryCache/b41d435a.bin
Intermediate/AssetRegistryCache/c0a7a26b.bin
Intermediate/AssetRegistryCache/c2ecf2aa.bin
Intermediate/AssetRegistryCache/f9a05403.bin
Intermediate/AssetRegistryCache/fc00d646.bin
Intermediate/CachedAssetRegistry.bin
Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/Input.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Intermediate/ReimportCache/3688439234.bin
Saved/
Saved/Autosaves/Game/Blueprints/BP_GM_Auto2.uasset
Saved/Autosaves/Game/Blueprints/BP_GM_Auto4.uasset
Saved/Autosaves/Game/Blueprints/BP_SphereObstacle_Auto3.uasset
Saved/Autosaves/Game/Maps/TestMap_Auto1.umap
Saved/Autosaves/Game/Maps/TestMap_Auto2.umap
Saved/Autosaves/Game/Maps/TestMap_Auto3.umap
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/Temp/Untitled_1_Auto1.umap
Saved/AutoScreenshot.png
Saved/Backup/BP_GM_2019-12-08-13-55-27.uasset
Saved/Backup/BP_GM_2019-12-08-14-03-02.uasset
Saved/Backup/BP_GM_2019-12-08-14-13-37.uasset
Saved/Backup/BP_GM_2019-12-09-02-21-39.uasset
Saved/Backup/BP_GM_2019-12-09-03-26-21.uasset
Saved/Backup/BP_GM_2019-12-09-03-32-59.uasset
Saved/Backup/BP_GM_2019-12-09-03-37-59.uasset
Saved/Backup/BP_SphereObstacle_2019-12-08-13-57-19.uasset
Saved/Backup/BP_SphereObstacle_2019-12-08-14-10-13.uasset
Saved/Backup/BP_SphereObstacle_2019-12-08-14-15-18.uasset
Saved/Backup/BP_SphereObstacle_2019-12-08-14-41-35.uasset
Saved/Backup/TestMap_2019-12-08-14-03-01.umap
Saved/Backup/TestMap_2019-12-08-14-19-22.umap
Saved/Backup/TestMap_2019-12-08-15-33-18.umap
Saved/Backup/TestMap_2019-12-08-17-34-35.umap
Saved/Backup/TestMap_2019-12-08-17-49-44.umap
Saved/Backup/TestMap_2019-12-08-18-13-29.umap
Saved/Backup/TestMap_2019-12-09-02-27-40.umap
Saved/Backup/TestMap_2019-12-09-02-40-30.umap
Saved/Backup/TestMap_2019-12-09-02-51-32.umap
Saved/Backup/TestMap_2019-12-09-03-34-26.umap
Saved/Backup/TestMap_2019-12-09-03-45-53.umap
Saved/Backup/TestMap_BuiltData_2019-12-09-03-45-53.uasset
Saved/Backup/ThirdPersonOverview_2019-12-08-13-35-08.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-16F8750443A6E2B7EA78FFB3F0D0F225/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7A97E5894AEC17C4C97F7E984F7C173D/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-8851B8E4496E7454BCA606965A15E8B6/CrashReportClient.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Hardware.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/MagicLeap.ini
Saved/Config/Windows/OculusVR.ini
Saved/Config/Windows/Paper2D.ini
Saved/Config/Windows/PhysXVehicles.ini
Saved/Config/Windows/Scalability.ini
Saved/Config/WorldState/1119702224.json
Saved/Config/WorldState/112858600.json
Saved/Logs/DreamTeam-backup-2019.12.08-06.33.23.log
Saved/Logs/DreamTeam-backup-2019.12.08-12.17.56.log
Saved/Logs/DreamTeam.log
Intermediate/Config/CoalescedSourceConfigs/Editor.ini
Saved/Autosaves/Game/Blueprints/BP_GM_Auto1.uasset
Saved/Autosaves/Game/Blueprints/BP_TPC_Auto2.uasset
Saved/Autosaves/Game/Blueprints/BP_UpDownTrigger_Auto1.uasset
Saved/Autosaves/Game/Maps/TestMap_Auto4.umap
Saved/Backup/BP_GM_2019-12-09-12-23-24.uasset
Saved/Backup/BP_GM_2019-12-09-12-47-33.uasset
Saved/Backup/BP_GM_2019-12-09-13-07-51.uasset
Saved/Backup/BP_GM_2019-12-09-13-21-56.uasset
Saved/Backup/BP_TPC_2019-12-09-12-34-25.uasset
Saved/Backup/BP_TPC_2019-12-09-12-47-33.uasset
Saved/Backup/BP_TPC_2019-12-09-13-12-15.uasset
Saved/Backup/BP_UpDownTrigger_2019-12-09-12-21-57.uasset
Saved/Backup/BP_UpDownTrigger_2019-12-09-12-26-57.uasset
Saved/Backup/BP_UpDownTrigger_2019-12-09-12-40-42.uasset
Saved/Backup/BP_UpDownTrigger_2019-12-09-13-11-30.uasset
Saved/Backup/TestMap_2019-12-09-12-23-24.umap
Saved/Backup/TestMap_2019-12-09-12-47-33.umap
Saved/Backup/TestMap_2019-12-09-13-02-01.umap
Saved/Backup/TestMap_2019-12-09-13-23-38.umap
Saved/Config/CrashReportClient/UE4CC-Windows-100E595C4556877A565F87A93C93B7BC/CrashReportClient.ini
Saved/Logs/DreamTeam-backup-2019.12.09-04.29.19.log
Saved/Config/CrashReportClient/UE4CC-Windows-4FBBB8E6450424C20E27A1A256F9D9C1/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-835B8CF74D3A014A1B0276A79D414BD8/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5372617D46A60C2B9500D78760827393/CrashReportClient.ini
Saved/Backup/TestMap_2019-12-30-00-23-03.umap
Saved/Backup/TestMap_2019-12-29-23-30-14.umap
Saved/Backup/MannequinCharacter_2019-12-29-23-22-52.uasset
Saved/Backup/BP_GM_2019-12-30-00-23-03.uasset
Saved/Backup/BP_GM_2019-12-29-23-30-15.uasset
.vs/DreamTeam/v15/.suo
.vs/DreamTeam/v15/Browse.VC.db
.vs/DreamTeam/v15/Browse.VC.opendb
.vs/DreamTeam/v15/Solution.VC.db
.vs/DreamTeam/v15/Solution.VC.db-shm
.vs/DreamTeam/v15/Solution.VC.db-wal
Binaries/Win64/DreamTeamEditor.target
Binaries/Win64/UE4Editor-DreamTeam.dll
Binaries/Win64/UE4Editor-DreamTeam.pdb
DreamTeam.sln
Binaries/Win64/DreamTeamEditor.target
Binaries/Win64/UE4Editor-DreamTeam.dll
Binaries/Win64/UE4Editor-DreamTeam.pdb
Binaries/Win64/UE4Editor-DreamTeam.pdb
Binaries/Win64/UE4Editor-DreamTeam.dll
Binaries/Win64/DreamTeamEditor.target
.vs/DreamTeam/v14/.suo
.vs/DreamTeam/v16/.suo
.vs/DreamTeam/v16/Browse.VC.db
.vs/DreamTeam/v16/ipch/AutoPCH/6c4515fef8e20d7d/INGAMEGM.ipch
.vs/DreamTeam/v16/ipch/AutoPCH/92f2d753df1355bd/SPRITEDETAILSCUSTOMIZATION.ipch
.vs/DreamTeam/v16/Solution.VC.db
.vs/DreamTeam/v16/Solution.VC.db-shm
.vs/DreamTeam/v16/Solution.VC.db-wal
Binaries/Win64/DreamTeamEditor.target
Binaries/Win64/UE4Editor-DreamTeam.dll
Binaries/Win64/UE4Editor-DreamTeam.pdb
DreamTeam.VC.db
Binaries/Win64/DreamTeamEditor.target
Binaries/Win64/UE4Editor-DreamTeam.dll
Binaries/Win64/UE4Editor-DreamTeam.pdb
Binaries/Win64/UE4Editor-DreamTeam.pdb
Binaries/Win64/UE4Editor-DreamTeam.dll
Binaries/Win64/DreamTeamEditor.target
Binaries/Win64/UE4Editor-DreamTeam.pdb
Binaries/Win64/UE4Editor-DreamTeam.dll
Binaries/Win64/DreamTeamEditor.target
DreamTeam.VC.VC.opendb
*.log
*.ipch
.vs/DreamTeam/v16/Browse.VC.opendb
